.Dashboard1{
    display: flex;
    flex-direction: row;
    position: absolute;

    
}
.hel1{
    padding-left: 60px;
    font-size: 25px;
}
table{
    color: black;
    border: 2px solid forestgreen;
    width: 1400px;
    padding-right: 20px;
    height: 500px;
}
th {
    border-bottom:  2px solid forestgreen;
}
.us1{
    align-items: center;
}
.user1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 10px solid rgb(0, 0, 0);
    margin: 20px;
    height: 200px;  
    padding: 100px;
    border-radius: 20px;
    animation: example infinite 10s linear;
}
@keyframes example {
    from {background-color: rgb(103, 86, 216);}
    to {background-color: rgb(103, 86, 216);}
  }
.userf1{

    padding-top: 150px;
    padding-left: 300px;
    font-style: italic;
    font-size: 15px;
    color: white;
}
.main21{
    padding-top: 150px; 
    font-size:40px;
    color: aliceblue;
}
.new21{
}
.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #e34728;
    background: #fff;
    margin: 1.2rem 0;
    color: #e34728;
    font-size: 1.7rem;
    font-weight: 700;
    cursor: pointer;
}