.Dashboard{
    display: flex;
    flex-direction: row;
    position: absolute;

    
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 10px solid rgb(253, 253, 253);
    margin: 20px;
    height: 200px;  
    padding: 100px;
    border-radius: 20px;
    animation: example infinite 10s linear;
}
@keyframes example {
    from {background-color: rgb(103, 86, 216);}
    to {background-color: rgb(103, 86, 216);}
  }
.userf{
    font-style: italic;
    font-size: 15px;
    color: white;
}
.main{
    padding-top: 150px;
    padding-left: 300px;
}